name: DGAID Fullstack CI/CD

on:
  push:
    branches:
      - master
      # - main 

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Frontend
      - name: Build Frontend Image
        run: docker build -t prashant4593/dgaid-frontend:latest ./Frontend

      - name: Push Frontend Image
        run: docker push prashant4593/dgaid-frontend:latest

      # Backend
      - name: Build Backend Image
        run: docker build -t prashant4593/dgaid-backend:latest ./Backend

      - name: Push Backend Image
        run: docker push prashant4593/dgaid-backend:latest

    


name: CD - VPS Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_IMAGE }}
            docker stop app || true
            docker rm app || true
            docker run -d \
              --name app \
              -p 80:3000 \
              ${{ secrets.DOCKER_IMAGE }}


