name: Deploy to VPS

on:
  push:
    branches:
      - master
      - main  # किंवा master branch, ज्या branch वर deploy करायचे

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy files to VPS
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}   
          port: 22
          source: "."          
          target: "/root/app"
          overwrite: true
          debug: true
          timeout: 30s
